.productos-container {
    display: block;
}

.productos-titulo {
    background-color: brown;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.productos-listado {
    display: block;
}

.productos-footer {
    background-color: brown;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}